<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>483674293958-emk6mvioqf6p9mj15m06de8f2g39u5n6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.483674293958-emk6mvioqf6p9mj15m06de8f2g39u5n6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>483674293958-aou9c74b9qnrp1df87qqsqtl47r7mder.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAw5_V6c5toQ5fjpZhbMK7taVcjawIbHZ8</string>
	<key>GCM_SENDER_ID</key>
	<string>483674293958</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.bootycallme55</string>
	<key>PROJECT_ID</key>
	<string>bootycallme55</string>
	<key>STORAGE_BUCKET</key>
	<string>bootycallme55.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:483674293958:ios:aabbd266c34244868b39c7</string>
	<key>DATABASE_URL</key>
	<string>https://bootycallme55-default-rtdb.firebaseio.com</string>
</dict>
</plist>